<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leaf Disease Detection</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <h1>Tải lên ảnh lá cây muốn dự đoán bệnh</h1>
  <form action="/" method="post" enctype="multipart/form-data">
    <input type="file" name="files" multiple>
    <input type="submit" value="Upload">
  </form>

  {% if filenames %}
    <h2>Kết quả</h2>
    <div class="image-container">
    {% for filename, prediction in zip(filenames, predictions) %}
      <div class="image-item">
        <img src="{{ url_for('uploaded_file', filename=filename) }}" alt="Uploaded Image">
        <p>Dự đoán bệnh: {{ prediction }}</p>
      </div>
    {% endfor %}
    </div>
  {% endif %}
</body>
</html>
